
{% extends "instructor/inTemplate.html" %}

{% block pageName %}
{% if grade == None %}
Take a Quiz
{% else %}
Quiz Results
{% endif %}
{% endblock %}


{% block header %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
{% endblock %}



{% block maincontent %}


{% if not result and user.isTeacher %}
  <div class="row">
    <div class="col-lg-8">
      <h2 class="page-header">Test My Quiz</h2>
    </div>
  </div>
{% else %}
  <br>
{% endif %}




<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
  </div>
</div>



                                                    <!-- Result Output Table -->
{% if result %}
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10" style="padding:0; box-shadow: 2px 2px 4px 2px #ccc; border:1px solid #ccc">
      <div id="quiztop">
        <h3 id="quizresulttitle">{{ selectedquiz.name }} Result</h3>
        <p style="text-align:center; font-weight:bold">{{selectedquiz.description}}</p>
        <div class="row" style="background:#d9edf7; padding:20px">
          <div class="col-lg-5">
            <table>
              <tr>
                <td width="150px">Name:</td>
                <td>{{ result.student.identity }}</td>
              </tr>
              <tr>
                <td>Instructor:</td>
                <td>{{ selectedquiz.author.identity }}</td>
              </tr>
            </table>
          </div>
          <div class="col-lg-2"></div>
          <div class="col-lg-5">
            <table>
              <tr>
                <td width="150px">Grade:</td>
                <td style="color: red; font-weight:bold">{{ result.stringGrade }}</td>
              </tr>
              <tr>
                <td>Date:</td>
                <td>{{ result.date|date:"M d, Y" }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <table id="quizoutputtable">
        {%for p, s, a, g in result.record %}
          <tr class="gradetr" id={{forloop.counter}}>
            <td class="num">{{ forloop.counter }}.</td>
            <td class="prob" style="width:60%"><h4>{{ p }}</h4></td>
            <td><h4>{{ a }}</h4></td>
           <td style="width:45px">
             {% if g == 0 %}
               <img width="100%" src="./img/red_X2.png"/>
             {% else %}
               <img width="100%" src="./img/green.png"/>
             {% endif %}
           </td>
           <td style="text-align:center">
             {% if g == 0 %}
               <h4 style="color:red; font-style:italic; font-weight:bold">{{s}}</h4>
             {% endif %}
           </td>
           <td style="min-width:10%; padding:20px; text-align:center">
             {%if user.isTeacher and result.student.email != user.email_address %}
               <form method="POST" action="/editGrade">
                 <input type="hidden" name="r" value="{{result.key.urlsafe}}"></input>
                 <input type="hidden" name="n" value="{{forloop.counter}}"></input>
                 <button type="submit" class="btn btn-default">Edit Grade</button>
               </form>
             {%endif%}
           </td>
          </tr>
        {% endfor %}
      </table>
      {%if user.isTeacher and result.student.email != user.email_address %}
        <div style="text-align:right">
          <button
            style="width:25%; margin:5%"
             onclick="window.location.href='/instructor/inMyGrades'"
            class="lgbtn btn btn-info">Back
          </button>
        </div>
      {%endif%}
      {%if not user.isTeacher%}
        <div style="text-align:right">
          <button
            style="width:25%; margin:5%"
             onclick="window.location.href='/'"
            class="lgbtn btn btn-info">Home
          </button>
        </div>
      {%endif%}
    </div>
  </div>

{% else %}

                                                      <!-- Quiz Output Table -->
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10" style="padding:0; box-shadow: 2px 2px 4px 2px #ccc">
      {% if user.isTeacher %}
        {% with selectedquiz as selected %}
          {% with 'Select an unassigned quiz:' as label %}
            {% with unreleased as quiztype %}
              {% with 1 as blue %}
                {% include "instructor/selectquizform.html" %}
              {% endwith %}
            {% endwith %}
          {% endwith %}
        {% endwith %}

      {% else %}
        <div id="quiztop">
          <h3 id="quizresulttitle">{{ selectedquiz.name }}</h3>
          <p style="text-align:center; font-weight:bold">{{selectedquiz.description}}</p>
          <div class="row" style="background:#d9edf7; padding:20px">
            <div class="col-lg-5">
              <table>
                <tr>
                  <td width="150px">Name:</td>
                  <td>{{ user.name }} {{user.last_name}}</td>
                </tr>
                <tr>
                  <td>Instructor:</td>
                  <td>{{ selectedquiz.author.identity }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      {% endif %}

        <!--
        |  Invalid Answer Alert
        |   Activated by Submit Button
        -->
        <div style="visibility:hidden; width:100%; border-radius:0px;" class="alert alert-danger fade in invalidansweralert">
            <i class="fa fa-fw fa-exclamation-triangle"></i>&nbsp;&nbsp;
            <strong>Error!</strong>&nbsp;&nbsp;There are invlid characters in an answer field.
        </div>

      <form action="/quiz" method="POST" id="quizForm">
        <table id="quizoutputtable">
          {% for problem in problems reversed%}
            <tr id={{forloop.counter}} class="problem_display{{forloop.counter}}">
              <td class="num2">{{problem.difficulty}} {{ forloop.counter }}.</td>
              <td class="prob"><h3>{{ problem.content }}</h3></td>
              <td class="ans">
                <input class="answerbox" autocomplete="off" id="answer{{forloop.counter}}" tabindex="{{forloop.counter}}" type="text" name="{{ forloop.counter }}">
              <td>
            </tr>
            <script>
              quizselected = ("{{ forloop.counter }}" > 0);
              $("#answer{{forloop.counter}}").focus(function(){
                $("#{{forloop.counter}}").addClass('inputbg');
              });
              $("#answer{{forloop.counter}}").blur(function(){
                $("#{{forloop.counter}}").removeClass('inputbg');
              });
            </script>
          {% endfor %}
        </table>
        <input type="hidden"
            name="key"
            value="{{selectedquiz.key.urlsafe}}">
         </input>
        <div style="text-align:right" class="submit_prob_button">
          <button
            style="width:25%;display:none; margin:5%"
            id ="submit"
            class="lgbtn btn btn-info"
            type="submit">Save
          </button>
        </div>
        <div style="text-align:right" class="next_prob_button">
          <div
            style="width:25%; margin:5%"
            class="lgbtn btn btn-info"
            onclick="next_problem()">Next
          </div>
          <p style="width:25%; margin:5%" id="toAdvance"></p>
        </div>
      </form>



      <script>
        var max_problems = {{ problems|length }};
        var curr_problem = 1;

        for (i = 2; i <= max_problems; i++) {
            $(".problem_display" + i).hide();
        }

        if (curr_problem != max_problems) {
            $(".submit_prob_button").hide();
        } else {
            $(".next_prob_button").hide();
        }

        function next_problem() {
            $(".problem_display" + curr_problem).hide();

            if ((curr_problem + 1) >= max_problems) {
                $(".next_prob_button").hide();
                curr_problem ++;
                $(".problem_display" + curr_problem).show();
                $(".submit_prob_button").show();
            } else {

                $.post("/quiz/grade", JSON.stringify({
                    problemNumber: curr_problem - 1,
                    answer: $("#answer" + curr_problem).val(),
                    quizId: "{{selectedquiz.key.urlsafe}}"
                    }), function(data) {
                      if (data.correct) {
                          document.getElementById("toAdvance").innerHTML= ("You got all the '" + data.difficulty + "' problems correct! You can skip any remaining "
                              + data.difficulty + " problems.")
                      } 
                      

                    }, "json");

                curr_problem ++;
            }

            $(".problem_display" + curr_problem).show();
        }

        document.getElementById("quizForm").addEventListener('keypress', function(event)
        {
            if(event.keyCode == 13)
            {
                event.preventDefault();
            }
        });



      </script>
    </div>
  </div>

{% endif %}



<script>

  {% if user.isTeacher %}
    {% if result and result.student.email != user.email_address %}
      document.getElementById("grades").className += "active";
    {% else %}
      document.getElementById("quizzes").className += "active";
    {% endif %}
  {% endif %}

  /* django defined:*/
  var quizselected;
  if(quizselected){ $('#submit').css('display', 'inline');}

  var fieldalert= document.getElementById('fieldalert');
  var savebtn = document.getElementById("submit");




/*******************************************************************************
* Invalid Solution Color Box
* --------------------------
* - Textboxes are all filled in
* - Yes, more js by J.S.
**********/

var isBad = false;

$(".answerbox").keyup(function(){if(! isBad) colorbox(this)});

function colorbox(answerbox){
  isBad = (/[{}#$%!&@`~,<>;':"\\|\[\]\_?]/.test(answerbox.value));
  if (isBad){
    answerbox.style.background = "#f2dede";
    $(answerbox).css("box-shadow","0 0 2px 0 #ebccd1");
    $(answerbox).css("border","1px solid #a94442");
    $(answerbox).css("color","#a94442");
    $(answerbox).css("font-weight","bold");
    $(".invalidansweralert").css("visibility","visible");
    $(savebtn).removeClass("btn-info");
    $(savebtn).addClass("btn-danger");
    $(savebtn).css("font-weight","normal");
    setTimeout(function(){colorbox(answerbox)}, 250);
  } else{
    $(answerbox).css("box-shadow","none");
    $(answerbox).css("border","1px solid #CCC");
    $(answerbox).css("color","#000");
    $(answerbox).css("font-weight","normal");
    $(".invalidansweralert").css("visibility","hidden");
    answerbox.style.background = "#fff";
    $(savebtn).removeClass("btn-danger");
    $(savebtn).addClass("btn-info");
  }
  savebtn.disabled = isBad;
}



</script>



{% endblock %}
