
{% extends "inTemplate.html" %}

{% block header %}
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]], processEscapes: true}
    });
  </script>
  <style>
    .col-lg-6 ul{ border-top: 1px solid #CCC; padding-top:15px; margin-left:85px;}
    .col-lg-6 ul li{ margin-left:-20px;}
    .col-lg-6 h3{font-weight:bold; text-transform:uppercase; margin-bottom:0;}
    .col-lg-6 h3 i { margin-right:40px; color:#FFF; background:#5bc0de; width:40px; height:40px; border-radius: 20px; padding:8px; box-shadow: 3px 1px 1px #CCC;}
  </style>
{% endblock %}


{% block maincontent %}

<div class="row">
  <div class="col-lg-8"><h2 class="page-header">Help Topics by Page</h2></div>
</div>


<div class="row">
<div class="col-lg-1"></div>
<div class="col-lg-6">

<h3><i class="fa fa-fw fa-home"></i>Home</h3>
<ul>
  <li>This page has general quiz info for the selected course</li>
  <li>The assign button will make the quiz available to your student list</li>
  <li>The delete button will delete the quiz, but not the problems</li>
</ul>
<br>
<h3><i class="fa fa-fw fa-plus"></i>Create Problems</h3>
<ul>
  <li>Use this page to create quiz problems</li>
  <li>All fields must be filled in</li>
  <li>Use '$' symbols to add <script type="math/tex">\ \rm\LaTeX</script></li>
  <li>Add Keywords you'd like to search by in the My Problems Page</li>
  <li>Functions to edit and delete problems have been added</li>
</ul>
<br>
<h3><i class="fa fa-fw fa-search"></i>Problem Database</h3>
<ul>
  <li>Displays all the problems in the database</li>
  <li>Allows teachers to utilize keyword search</li>
  <li>Allows teachers to copy problems into the selected quiz</li>
</ul>
<br>
<h3><i class="fa fa-fw fa-pencil"></i>Try My Quiz</h3>
<ul>
  <li>You can test your quizzes here</li>
  <li>This quiz view should match the student view</li>
  <li>Once complete, your grade will be displayed</li>
  <li>Editing Grades is not yet enabled</li>
</ul>
<br>
<h3><i class="fa fa-fw fa-calculator"></i>My Grades</h3>
<ul>
  <li>Any quizzes completed by students will be displayed here</li>
  <li>Clicking on the quiz will show the result</li>
  <li>Editing Grades is not yet enabled</li>
</ul>
<br>
<h3><i class="fa fa-fw fa-users"></i>My Students</h3>
<ul>
  <li>Two lists are displayed:  Your Students and All Students</li>
  <li>Click to Add and Remove Students from your course</li>
</ul>
<br>
<h3><i class="fa fa-fw fa-book"></i>My Courses</h3>
<ul>
  <li>Courses you have created are displayed here</li>
  <li>There are options to delete and rename</li>
</ul>
</div>
</div>
<br>
<br>
<br>
<br>
<script>
  document.getElementById("help").className += "active";
  $('#quizform').css('display', 'none');
</script>
{% endblock %}




