
{% extends "main.html" %}



{% block maincontent %}


<br>

<!-- Login -->
<div class="container">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <h3 class="brand"><span class="logo2">Math</span>Quizzes</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <!-- Login Form -->
              <form id="login-form" method="post" role="form" style="display: block;">
                  <!--
                   | Error alert
                  -->
                <div style="visibility:hidden; margin:0; margin-bottom:10px; padding:15px;" id="msg" class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <strong>Login failed!</strong> &nbsp;Check your credentials and try again.                 <span class="sr-only">Error:</span>
                </div>
                <script>
                  {% if failed %}
                    var f=true;
                  {% else %}
                    var f=false;
                  {% endif %}
                </script>
                <div class="form-group">
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" name="username" id="username" autocomplete="off" tabindex="1" class="form-control" placeholder="Username" value="">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                      <input type="password" name="password" id="password" autocomplete="off" tabindex="2" class="form-control" placeholder="Password">
                    </div>
                  </div>
                </div>
                   <!--
                     This cookie is not currently working
                     right now, it always remembers
                     unless you physically click logout
                        <div class="form-group text-center">
                          <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                          <label for="remember"> Remember Me</label>
                        </div>
                   -->
                <div class="form-group">
                  <div class="cols-sm-10">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="3" class="form-control btn btn-info" value="Log in">
                  </div>
                </div>
                <div class="form-group">
                  <div class="cols-sm-10">
                      <input onclick="window.location.href='/public/signup'" type="button" tabindex="4" class="form-control btn btn-default" value="Register">
                  </div>
                </div>
                <!--  MENU NOT BEING USED ATM

                <p style="text-align:center;color: #59B2E0; font-size:1.5em;">
                  {% if not user %}
                    <a href="/login">Login</a>
                    &nbsp; | &nbsp;
                    <a href="/forgot">Forgot Password</a>
                    &nbsp; | &nbsp;
                    <a href="/public/signup">Register</a>
                  {% else %}
                    <a href="/">{{ user.name }}'s home</a>
                    &nbsp; | &nbsp;
                    <a href="/logout">Logout</a>
                  {% endif %}
                </p>
                <a class="ytube" data-toggle="modal" data-target="#videoModal" data-theVideo="http://www.youtube.com/embed/loFtozxZG0s" >
                  <img style="text-decoration:none;" class="png" src="/img/ytube.png">
                  <p>View our YouTube Video</p>
                </a>
                 -->
                <iframe width="480" height="315" src="https://www.youtube.com/embed/7Z2_e0hUcjc" frameborder="0" allowfullscreen></iframe>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="text-center">
                        <!--
                            <a href="/forgot" name='forgot' action='/forgot' method="POST" tabindex="5" class="forgot-password">Forgot Password?</a>
                        -->
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <!-- Login Form Ends -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<script>
var msg = document.getElementById("msg");
var submit = document.getElementById("login-submit");
$(document).ready(function(){
  autoPlayYouTubeModal();
});


if(f){
  $("#login-submit").attr('disabled', true);
  submit.classList.add("btn-danger");
  msg.style.visibility="visible";
  setTimeout(
    function(){
      msg.style.visibility="hidden";
      submit.classList.remove("btn-danger");
      submit.classList.add("btn-info");
      $("#login-submit").attr('disabled', false);
    }, 1500);
}


//FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
function autoPlayYouTubeModal(){
  var trigger = $("body").find('[data-toggle="modal"]');
  trigger.click(function() {
    var theModal = $(this).data( "target" ),
    videoSRC = $(this).attr( "data-theVideo" ),
    videoSRCauto = videoSRC+"?autoplay=1" ;
    $(theModal+' iframe').attr('src', videoSRCauto);
    $(theModal+' button.close').click(function () {
        $(theModal+' iframe').attr('src', videoSRC);
    });
  });
}
</script>

{% endblock %}
