
{% extends "main.html" %}


{% block maincontent %}


<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <h3 class="brand"><span class="logo2">Math</span>Quizzes</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="register-form" action='/public/signup' method="post" onsubmit="return checkfields()" role="form" style="display: block;" >
                <!--
                 | Buttons
                -->
                <div class="text-center">
                  <div class="btn-group" data-toggle="buttons">
                    <label id="student" class="btn btn-default active" onclick="toggle(student)">
                      <input type="checkbox" autocomplete="off" > Student Account
                    </label>
                    <label id="teacher" name="isTeacher" class="btn btn-default" onclick="toggle(teacher)">
                      <input name="isteacher" type="checkbox" autocomplete="off" value="false"> Teacher Account
                    </label>
                  </div>
                </div>
                  <!--
                   | Error alert
                  -->
                <div style="visibility:hidden; margin:15px 0;" id="fieldalert" class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  <span id="theError">Please fill in all the fields!</span>
                </div>
                <div class="form-group">
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" name="name" value="{{name}}" id="fname" autocomplete="off" tabindex="1" class="form-control" placeholder="First Name" value="">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" name="lastname" value="{{lastname}}" id="lname" autocomplete="off" tabindex="2" class="form-control" placeholder="Last Name" value="">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                      <input type="text" name="email" value="{{email}}" id="email" autocomplete="off" tabindex="3" class="form-control" placeholder="Email Address">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                      <input type="text" name="username" value="{{username}}" id="username" autocomplete="off" tabindex="4" class="form-control" placeholder="Username" value="">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                      <input type="password" name="password" id="password" autocomplete="off" tabindex="5" class="form-control" placeholder="Password">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                      <input type="password" name="confirmPassword" id="confirmPassword" autocomplete="off" tabindex="6" class="form-control" placeholder="Confirm Password">
                    </div>
                  </div>
                </div>
                <div class="form-group" id="codegroup" style="visibility:hidden">
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                      <input type="password" name="teachercode" id="teachercode" autocomplete="off" tabindex="7" class="form-control" placeholder="Teacher Authentication Code" value="">
                    </div>
                  </div>
                </div>
                <div class="form-group" style="margin-top:30px">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="register-submit" id="register-submit" tabindex="8" class="form-control btn btn-info" value="Register">
                    </div>
                   </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
var formtitle  = document.getElementById("formtitle");
var submit     = document.getElementById("register-submit");
var teacher    = document.getElementById("teacher");
var student    = document.getElementById("student");
var code       = document.getElementById("teachercode");
var selected   = student;
var deselected = teacher;
var temp;
var errorbox;


var error = "{{error}}"
var errorCode = error.charAt(0);

if(errorCode == 'A'){
  student.value=true;
  teacher.value=false;
  errorResponse($('#teachercode'));
}
if(errorCode == 'E')errorResponse($('#email'));





function toggle(current){
  if( current != selected ){
    selected.classList.remove("active");
    deselected.classList.add("active");
    selected.value=true;
    deselected.value=false;
    temp=deselected;
    deselected=selected;
    selected=temp;
    if( current == teacher ){
      $("#codegroup").css('visibility','visible');
    }
    else{
      $("#codegroup").css('visibility','hidden');
    }
  }
}



function checkfields(){
  if(
       $("#username").val() == ""
    || $("#fname").val() == ""
    || $("#lname").val() == ""
    || $("#email").val() == ""
    || $("#password").val() == ""
    || $("#confirmPassword").val() == ""
    || ( selected == teacher && $("#teachercode").val() == "" )
  ){
    errorResponse('');
    return false;
  }
  return true;
}


function errorResponse(red){
  if(red){
    red.css('background','#f2dede');
    var old=$('#theError').html();
    $('#theError').html(error);
  }
  $("#register-submit").attr('disabled', true);
  submit.classList.add("btn-danger");
  fieldalert.style.visibility="visible";
  setTimeout(
    function(){
      if(red) red.css('background','#fff');
      $('#theError').html(old);
      fieldalert.style.visibility="hidden";
      submit.classList.remove("btn-danger");
      submit.classList.add("btn-info");
      $("#register-submit").attr('disabled', false);
    }, 3500);
}

</script>

{% endblock %}
