{% extends "inTemplate.html" %}


{% block maincontent %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>


        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Create Classes
                        </h1>
                    </div>
                </div>

                <!-- /.row -->
                <div class="row">
                    <form action="inCreateClass" method="POST">
                        <div class="col-lg-12">
                            <br>
                            <br>
                            <label for="data">Class Name:</label>
                            <input type="text" id="cNameBox" name="className">
                        </div>
                        <div class="col-lg-12">
                            <br>
                            <label for="data">Description:</label>
                            <input type="text" id="descBox" name="description">
                        </div>
                        <div class="col-lg-12">
                            <br>
                        <button id ="next" type="submit">Create Class</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

<script>

var input = document.getElementById("myInput");

window.onload = function(){
  input.focus();
}

function search() {
  var filter, table, tr, td, i;
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}


function clearSearch() {
  input.value = "";
  search();
  input.focus();
}



</script>




{% endblock %}