
{% extends "inTemplate.html" %}

{% block pageName %}My Classes{% endblock %}

{% block header %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
{% endblock %}



{% block maincontent %}



                                                          <!-- Dropdown Post -->
<form action="/inMyClasses" method="POST">
  <input id="hidden" type="hidden" name="quiz">
  <input id="submitthis" type="submit" style="visibility:hidden">
</form>



                                                          <!-- Keyword Input -->
<label>Keyword Search</label>
<br>
<input class="col-lg-4" type="text" id="myInput" onkeyup="search()" placeholder="Enter a keyword" title="Type in a name">
&nbsp;
<button onclick="clearSearch()" id ="clear" type="submit">Clear Search</button>




                                                    <!-- Search Output Table -->
<div class="row">
  <div class="col-lg-12">
    <br>
    <br>
    <div class="table-responsive">
      <table id="myTable" class="table table-hover table-striped" name="problemsTable">
        <thead>
         <tr>
             <th>Keywords </th>
             <th>Problem </th>
             <th>Answer</th>
             <th>Quiz</th>
             <!-- <th>LaTeX</th> -->
             <!-- <th>Author</th> -->
             <th>Creation Date</th>
         </tr>
        </thead>
        <tbody>

        {%for problem in problems %}
          <tr>
            <td>{{ problem.tags }}</td>
            <td><script type="math/tex">{{ problem.content }}</script></td>
            <td>{{ problem.answer }}</td>
            <td>{{ problem.quiz }}</td>
            <!-- <td>{{ problem.content }}</td> -->
            <!-- <td>{{ problem.author.identity }}</td> -->
            <td>{{ problem.date }}</td>
            <!-- <td><button type="button" onclick="alert('Function not yet implemented')"> Delete problem</button></td> -->
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>




<script>

/*******************************************************************************
*  Window Load Function
*    - Declare search field input
*    - Focus the field
**********/
document.getElementById("myproblems").className += "active";
var input = document.getElementById("myInput");
window.onload = function(){
  input.focus();
}


/*******************************************************************************
*  Search Function
*    - Case insensative search by keyword
*    - Dynamically alters results displayed in the table
**********/
function search() {
  var filter, table, tr, td, i;
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}




/*******************************************************************************
*  clearSearch Function
*    - Clears the search field
*    - Focus the search field
**********/
function clearSearch() {
  input.value = "";
  search();
  input.focus();
}




</script>



{% endblock %}
